doctype html
html
	head
		meta(charset="utf8")
		title= PokéName
		meta(
			name="description"
			content="PokéName - The Pokémon-themed version name generator"
		)
		link(
			rel="stylesheet"
			href="#{stylesheet}"
		)
		link(
			rel="stylesheet"
			href="vendor/font-awesome-4.5.0/css/font-awesome.min.css"
		)
		script(
			src="#{requireJs}"
			data-main="#{mainScript}"
		)
	body#pokename-app